
<div class="background">
  <div class="shape1"></div>
  <div class="shape2"></div>
<div class="grid">
<div class="squareGrid">
  <span class="headerTagSec">Join Us</span>
  <h1>HIGH QUALITY COURSES</h1>
  <p class="subHeadline"> Every day brings with it a fresh set of learning possibilities.</p>
  <div class="buttonsDiv">
  <button class="joinUsButton">Join Us</button>
  <button class="learnMoreButton">Learn More</button>
  <img  src="../assets/images/Vector1.png" alt="">
  <img  src="../assets/images/Vector.png" alt="">
  <img class="vector2" src="../assets/images/Vector2.png" alt="">
  <!-- <img class="vector2" src="../assets/images/Vector4.png" alt=""> -->
  <img src="../assets/images/Placeholder.png" alt="">


</div>
</div>
</div>
</div>

